  
form{

    max-width: 400px;
    margin:  80px auto;
    padding: 16px 16px 24px;
    box-shadow: 0 2px 32px rgba(0,0,0,0.15);
    border-radius: 4px;
}
div a {
    display: block;          /* Postavi a kao blok element */
    margin: auto;            /* Automatski margine za centriranje */
    text-align: center;      /* Opcionalno: centriraj tekst unutar linka */
    color: #555;
  }
  

h1{
    text-align: center;
}

.form-div{
    margin-bottom: 10px;

    label{
        display: block;
        font-weight: 500;
        margin-bottom: 5px;
    }

    input{
       padding: 4px;
       border-radius: 4px; 
       width: 100%;
       border: 2px solid rgba(175, 213, 243, 0.582);
       background-color: rgb(226, 226, 243);
       
    }
}

button {
    background-color: black;
    color: white;
    border-radius: 2px;
    width: 100%;
    margin-top:10px;
}

#loginH1{
    margin: 10px auto;
    color: #555;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 15px;  
}
.valid-error{
    color: red;
}

button:disabled{
    opacity: 0.3 ;
    cursor:default ;
}


