
<form>

    <p>Email</p>
    
    <input [(ngModel)]="manager.emailManager"  name="mail">
    
    
    <p>First Name</p>
    <input [(ngModel)]="manager.firstName"  name="firstName">
    <p>LastName</p>
    <input [(ngModel)]="manager.lastName"  name="lastName">
    <p>Username</p>
    <input [(ngModel)]="manager.usernameManager"  name="username">
    <p>Ovde treba da getujes sve sale, i da ubacis u dropdown menu!!</p>
    <p>Ovde treba da getujes sve sale, i da ubacis u dropdown menu!!</p>
    <p>Ovde treba da getujes sve sale, i da ubacis u dropdown menu!!</p>
    <p>Sala</p>
    <input [(ngModel)]="manager.salaName"  name="salaName">
    <p>Password</p>
    <input [(ngModel)]="manager.password"  name="password">

    <br>
    <button (click)="editManager()">Edit Manager</button>


</form>