<h1>All users table</h1>


<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Sala</th>
        
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let manager of managers" (click)="navigateToEditManager(manager)" >
        <td>{{ manager.id }}</td>
        <td>{{ manager.firstName }}</td>
        <td>{{ manager.lastName }}</td>
        <td>{{ manager.usernameManager }}</td>
        <td>{{ manager.emailManager }}</td>
        <td>{{ manager.salaName }}</td>
      
        
      </tr>
    </tbody>
  </table>
  
  <!-- Paginacija -->
  <div class="pagination">
    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 0">Previous</button>
    <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages - 1">Next</button>
  </div>
  
  