


    <form [formGroup]="registerForm" (submit)="register()">
        
        <h1>Online registration</h1>



    <div class="firstAndLastDiv">
        <div class="inputContainer">
            <label for="firstName">First Name</label>
            <input type="text" placeholder="First Name" formControlName="firstName">
            <span class="error" *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">Min Lenght je 5</span>
        </div>
        
        <div class="inputContainer">
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Last Name" formControlName="lastName">
            <span class="error" *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">Min Lenght je 5</span>
        </div>
    </div>

    <div class="formDiv" >
        <label for="email">Email Address</label>
        <input type="email" placeholder="Email Address" formControlName="email">
        <span class="error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">Email nije dobar</span>
    </div>
    <div class="formDiv" >
        <label for="username">Username</label>
        <input type="text"  placeholder="Username" formControlName="username">
        <span class="error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">Min Lenght je 5</span>
        
    </div>
    <div class="formDiv" >
        <label for="password">Password</label>
        <input type="password" placeholder="Password" formControlName="password">
        <span class="error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">Min Lenght je 5</span>
    </div>
    <div class="formDiv" >
        <label for="dateOfBirth">Date</label>
        <input type="date" placeholder="Date" formControlName="dateOfBirth">
        <span class="error" *ngIf="registerForm.get('dateOfBirth')?.invalid && registerForm.get('dateOfBirth')?.touched">Unesite datum</span>
    </div>
  
    <button [disabled]="registerForm.invalid" type="submit">Register</button>

</form>

